.container{
  width: 1300px;
  margin: 0 auto;
  font-size: 3.5rem;
  letter-spacing: 3px;
  color: #000000;
  font-weight: bold;
  position: relative;
}

.subtitle {
  position: relative;
  width: fit-content;
  margin-top: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.subtitle h1 {
  font-weight: bold;
}

.subtitle::before {
  content: "";
  display: block;
  background-color: var(--primary-blue);
  position: absolute;
  z-index: -1;
  width:290px;
  height: 100%;
  right: 0px;
}

.container img {
  position: absolute;
  top: 0; 
  left: 0;
  z-index: -2;
}