.container {
  height: 100vh;
  width: 100vw;
  padding-top: 80px;
  background-color: var(--primary-blue);
  color: #fff;
  padding-inline: 5rem;
  position: relative;
  display: flex;
  align-items: center;
}


.content {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.title {
  width: 100%;
  font-size: 6rem;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.title span {
  opacity: 0;
  transform: translate3d(0, 10px, 0);
  animation: show-up 0.7s ease-out forwards;
}

.title span:nth-child(1) { animation-delay: 0.1s; }
.title span:nth-child(2) { animation-delay: 0.4s; }
.title span:nth-child(3) { animation-delay: 0.7s; }
.title span:nth-child(4) { animation-delay: 1.0s; }
.title span:nth-child(5) { animation-delay: 1.3s; }
.title span:nth-child(6) { animation-delay: 1.6s; }
.title span:nth-child(7) { animation-delay: 1.9s; }
.title span:nth-child(8) { animation-delay: 2.2s; }

.about {
  opacity: 0;
  transform: translate3d(0,20px,0);
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  animation:  show-up 0.7s ease-out 2.5s forwards;
  gap: 2rem;
}


.explore {
  opacity: 0;
  animation:  show-opacity 0.7s ease-out 2.8s forwards;
  height: 77px;
  width: 96.6px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  letter-spacing: 3px;
  margin: 0 auto;
}

.explore span {
  margin: 0 auto;
  display: block;
  width: 2px;
  height: 0px;
  animation: loading 5s ease-in-out infinite alternate;
  background-color: #ffffff70;
}

.explore p{ 
  position: absolute;
  color: #ffffff9a; 
  bottom: 0;
  margin: auto 0;
}


@keyframes loading {
  from {
    height: 0;
  }
  to {
    height: 35px;
  }
}

@keyframes show-up {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-opacity {
  to {
    opacity: initial;
  }
}