.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 6rem 1rem;
  justify-content: center;
  background-color: #000000;
  color: #ffff;
}

.container {
  display: flex;
  flex-direction: column;
}

.content h2 {
  font-size: 3.5rem;
  text-align: center;
}

.title {
  max-width: 1100px;
  margin: 0 auto;
  font-size: clamp(1.25rem, 2.8vw, 2.25rem);
  line-height: 1.02;
  font-weight: 700;
  letter-spacing: -0.02em;
  opacity: 1;
}

.circles {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circles span {
  margin-left:-7rem ;
  display: block;
  opacity: 0;
  width: 0rem;
  height: 0rem;
  animation: show-circles 1s forwards;
  border: 1px solid #3C3C3C;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circles span:nth-child(1) {
  animation: show-circles 1s forwards;
}

.circles span:nth-child(2) {
  animation: show-circles 1s forwards 0.3s;
}

.circles span:nth-child(3) {
  animation: show-circles 1s forwards 0.6s;
}

.circles span:nth-child(4) {
  animation: show-circles 1s forwards 0.9s;
}

.circles span:nth-child(5) {
  animation: show-circles 1s forwards 1.1s;
}

.circles .rest {
  margin-left: inherit;
}

.circles span p {
  opacity: 0;
  font-size: 1.2rem;
  color: #fff;
  transform: translate3d(0,20px,0);
}

.circles span:nth-child(1) p {
  animation: show-up 1s forwards 1.7s;
}

.circles span:nth-child(2) p {
  animation: show-up 1s forwards 2s;
}


.circles span:nth-child(3) p {
  animation: show-up 1s forwards 2.3s;
}


.circles span:nth-child(4) p {
  animation: show-up 1s forwards 2.6s;
}

.circles span:nth-child(5) p {
  animation: show-up 1s forwards 2.9s;
}


.circles .line {
  border-radius: inherit;
  display: block;
  width: 0%;
  left:3.5%;
  opacity: 0;
  animation: show-line 1.1s forwards;
  transform-origin: left left;
  height: 0px;
  position: absolute;
  border-top: 2px dashed;
  border-top-color: #3C3C3C;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.circles .line:before{
  content: '';
  left: calc(100% - 30px);
  transform: rotate(45deg) translate3d(0,-19px,0);
  width: 25px;
  height: 25px;
  border: 1px solid #3C3C3C;
  border-bottom: none;
  border-left: none;
  position: absolute;
}

@keyframes show-circles {

  to {
    opacity: initial;
    width: 25rem;
    height: 25rem;
  }
  
}

@keyframes show-line {

  to {
    width: 107%;
    opacity: initial;
  }

}

@keyframes show-up {
  
  to {
    opacity: initial;
    transform: initial;
  }

}
