:root {
  --background: #ffffff;
  --foreground: #2D3328;
  --primary-blue: #004AAD;
  --primary-white: #DEDEDF
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffff;
    --foreground: #DEDEDF;
  }
}

*{
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
}

html,
body {
  padding-top: 60px;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
