.header {
  background-color: var(--primary-blue);
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  color: var(--primary-white);
  font-weight: bold;
  padding-inline: 3rem;
  z-index: 10000;
}

.header .box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.header .title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 0.5rem;
}