.header {
  background-color: var(--primary-blue);
  position: fixed;
  top: 0;
  width: 100%;
  height: 59.6px;

  color: var(--primary-white);
  font-weight: bold;
}

.header .box {
  width: 100%;
  height: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  margin: 0 auto;
}
.header .title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}